.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-button {
  padding: 12px 24px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 235px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.profile-button:hover {
  background-color: #357abd;
  transform: translateY(-2px);
}

.profile-button:active {
  transform: translateY(0);
}

.profile-button-container {
  position: relative;
}

.manual-test-button {
  width: 235px; /* Fixed width */
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 5px;
  z-index: 1;
}

.option-button {
  padding: 12px 24px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.option-button:hover {
  background-color: #357abd;
}

.option-button:active {
  transform: translateY(0);
}